/*801px and above: header image url is https://via.placeholder.com/400
    - Between 481px and 800px: header image url is https://via.placeholder.com/300
    - 480px and below: header image url is https://via.placeholder.com/300
    Circles in .container.circles should be inline at 621px and above, otherwise they should stack vertically.
    Circle radii are 70px, 80px, 90px and 100px.

 7. The row / circle background colours are: #4e89ae #43658b #ed6663 #ffa372.

 8. The header and footer background colour is #8ccff7.

 9. The circle and row hover color is #444.

10. Footer height is 50px.*/

*{
    margin: 0;
    padding: 0;
    border: 0;
}

@mixin breakpoint($minwidth, $maxwidth){
    @media screen and (min-width: $minwidth) and (max-width:$maxwidth){
        @content;
    }
}

$colors: #4e89ae #43658b #ed6663 #ffa372 #8ccff7 #444;

%band-styling{
    width: 100%;
    height: 40px;
}



.box_container{
    background-color: nth($colors, 5);
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    @include breakpoint(801px, 1280px){
        height: 400px;
        .box2, .box3{
            display: none;
        }
    }
    @include breakpoint(481px, 800px){
        height: 300px;
        .box1, .box3{
            display: none;
        }
    }
    @include breakpoint(0px, 480px){
        height: 200px;
        .box1, .box2{
            display: none;
        }
    }
}

.bands{
    & .first{
        background-color: nth($colors, 1);
        @extend %band-styling;
    }
    & .second{
        background-color: nth($colors, 2);
        @extend %band-styling;
    }
    & .third{
        background-color: nth($colors, 3);
        @extend %band-styling;
    }
    & .fourth{
        background-color: nth($colors, 4);
        @extend %band-styling;
    }
    & .bands:hover{
        background-color: nth($colors, 6);
        @extend %band-styling;
    }
}

$circle_radius: 70px 80px 90px 100px;

.circle_container{
    margin-top: 50px;
    & .circle1{
        border-radius: 50%;
        width: nth($circle_radius, 1);
        height: nth($circle_radius, 1);
        background-color: nth($colors, 1);
    }
    & .circle2{
        border-radius: 50%;
        width: nth($circle_radius, 2);
        height: nth($circle_radius, 2);
        background-color: nth($colors, 2);
    }
    & .circle3{
        border-radius: 50%;
        width: nth($circle_radius, 3);
        height: nth($circle_radius, 3);
        background-color: nth($colors, 3);
    }
    & .circle4{
        border-radius: 50%;
        width: nth($circle_radius, 4);
        height: nth($circle_radius, 4);
        background-color: nth($colors, 4);
    }
    & .circle5{
        border-radius: 50%;
        width: nth($circle_radius, 5);
        height: nth($circle_radius, 5);
        background-color: nth($colors, 5);
    }
}

.footer{
    height: 50px;
    background-color: nth($colors, 5);
}

