body{
    width: 100vw;
    margin: 0;
}

#banner{
    height: 150px;
    background-color: #aaceff;
}

@media screen and (max-width:900px) and (orientation:landscape){
    #banner{
        height: 200px;
    }
}

@media screen and (max-height:480px) and (orientation:landscape){
    #banner{
        height: 70px;
    }
}